# les fichiers de configuration locaux
.env
.env.*

# les dossiers inutiles pour la production
node_modules
vendor
storage/debugbar
storage/framework/cache/data
storage/framework/sessions
storage/framework/views
storage/logs
public/storage

# les fichiers de versionnement
.git
.gitignore
.gitattributes

# les fichiers de cache
*.log
*.lock
*.swp
*.swo
.idea
*.phpunit.result.cache
.phpunit.cache
.php_cs.cache

# les fichiers Docker locaux
docker-compose.override.yml
